@import "../variables";

.cards {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;

    margin-bottom: 1.5rem;

    &--large {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 0.5rem;
    }
}

.cards__card {
    font-size: 2.5rem;
    color: $primary-text-color;

    width: 4.375rem; 
    height: 4.375rem; 

    background-color: $primary-color-dark;
    border-radius: 100%;
    border: none;

    .cards--large & {
        font-size: 1rem;

        width: 2.875rem; 
        height: 2.875rem;
    }

    &--isFlipped {
        background-color: $secondary-color;
    }

    &--isMatched {
        background-color: $primary-color;
    }
}
