.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    margin-bottom: 5.375rem;

    .cards-grid__card {
        width: 72px;
        height: 72px;

        border-radius: 100%;
        border: none;

        font-size: 2.5rem;
        color: #fcfcfc;
    }
}

.isFlipped {
    background-color: #fda214;
}

.notFlipped {
    background-color: #bcced9;
}

.isMatched {
    background-color: #220040;
}
