.nav {
    display: flex;
    margin: 1.5rem 1.5rem 5.375rem 1.5rem;

    .nav__heading {
        font-size: 1.5rem;
        line-height: 1.625;
        color: #152938;
    }

    .nav__btn {
        margin-left: auto;
        padding-left:1rem;
        padding-right:1rem;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    margin-bottom: 1.5rem;

    .stats {
        padding: 0.25rem 3.5rem 0.25rem 3.5rem;

        background-color: #bcced9;

        text-align: center;
        border-radius: 10px;

        .stats__text {
            font-size: 1rem;
            line-height: 1.25;
            color: #7191a5;
        }

        .stats__data {
            font-size: 1.5rem;
            line-height: 1.875;
            color: #304859;
        }
    }
}
