@import "../variables";

.nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1.5rem 0;
}

.nav__heading {
    font-size: 1.5rem;
    line-height: 1.625;
    color: $primary-color-darker;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    font-family: $primary-text-font;

    &--morePlayers {
        gap: 0.5rem;
    }
}

.stats {
    width: 100%;
    text-align: center;

    padding-top: 0.5rem;
    padding-bottom: 0.125rem;
    border-radius: 5px;

    background-color: $secondary-bg-color;

    &--selected {
        background-color: $secondary-color;

        &::before {
            position: absolute;
            content: "";
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-bottom: 0.5rem solid $secondary-color;
            margin-top: -1rem;
            margin-left: -0.5rem;
        }
    }
}

.stats__text {
    font-size: 1rem;
    line-height: 1.25;
    color: $secondary-text-color;
}

.stats__data {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    line-height: 1.875;
    color: $primary-color-dark;
}

.stats__data,
.stats__text {
    .stats--selected & {
        color: $primary-text-color;
    }
}

.stats__time {
    &--minutes {
        min-width: 2rem;
    }

    &--twin {
        min-width: 0.5rem;
    }

    &--seconds {
        min-width: 2rem;
    }
}
