.nav {
    display: flex;
    margin: 1.5rem 0;

    .nav__heading {
        margin-right: auto;
        font-size: 1.5rem;
        line-height: 1.625;
        color: #152938;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    .stats {
        text-align: center;

        padding: 0.5rem 2.875rem 0.125rem 2.875rem;

        background-color: #bcced9;
        
        border-radius: 5px;
        
        .stats__text {
            font-size: 1rem;
            line-height: 1.25;
            color: #7191a5;
        }
        .stats__data {
            font-size: 1.5rem;
            line-height: 1.875;
            color: #304859;
        }
    }
    
    .stats--selected{
        background-color: #FDA214;
        
        .stats__text, .stats__data {
            color: #ffffff;
        }
    }
}
