// Colors
$primary-color: rgb(188, 206, 217);
$primary-color-hover: rgb(99, 149, 184);
$primary-color-dark: rgb(48, 72, 89);
$primary-color-darker: rgb(21, 41, 56);

$secondary-color: rgb(253, 162, 20);
$secondary-color-hover: rgb(253, 183, 20);

$primary-text-color: rgb(252, 252, 252);
$secondary-text-color: rgb(113, 145, 165);


$primary-bg-color: rgb(251, 249, 249);
$secondary-bg-color: rgb(223, 231, 236);

$primary-text-font: "Atkinson Hyperlegible", sans-serif;
