@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

@import "variables";

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $primary-text-font;
    font-weight: 700;
    font-size: 1rem;
    color: $primary-text-color;

    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    margin: 0;
    padding: 0;
}

// =========== Buttons //

.btn {
    font-family: $primary-text-font;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
    text-align: center;
    color: $primary-text-color;

    width: 100%;
    padding: 0.625rem 1.5rem;
    border: none;
    margin-bottom: 1rem;

    border-radius: 1.625rem;

    background-color: $primary-color;

    &:hover {
        background-color: $primary-color-hover;
    }
}

.btn--selected {
    background-color: $primary-color-dark;

    &:hover {
        background-color: $primary-color-dark;
    }
}

.btn--orange {
    background-color: $secondary-color;

    &:hover {
        background-color: $secondary-color-hover;
    }
}

.btn--big {
    font-size: 1.125rem;
    line-height: 1.375;

    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.btn--w-auto {
    width: auto;
}
